*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2  ;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

a{
  text-decoration: none;
  color: #fff;
}

.container{
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
}

/* slider */

.intro__slider{
  min-width: 0;
}

.slick-list{
  overflow: hidden;
}

.slick-track{
  display: flex;
}

/* header */

.header{
  width: 100%;
  background: #000;
}

.header__inner{
  display: flex;
  justify-content: space-between;
}

.header__logo_item{
  margin: 0 2.5%;
}

.header__nav{
  width: 90%;
  margin: 0 1.5%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
}

.header__nav_item{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12pt;
}

.header__nav_link{
  position: relative;
  cursor: pointer;
  transition: color 0.2s linear;
}

.header__nav_link:after{
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 4px;
  background-color: #b88b58;
  transition: width 0.2s linear;
}

.header__nav_link:hover{
  color: #b88b58;
}

.header__nav_link:hover:after{
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 4px;
  background-color: #b88b58;
  transition: width 0.2s linear;
}

/* header__hamburger_menu */

.header__hamburger_menu{
  display: none; 

  margin-right: 5%;
}

#header__menu_toggle{
  opacity: 0;
}

.header__menu_btn{
  height: 30%;

  display: flex;
  align-items: center;

  cursor: pointer;
  z-index: 1;  
}

.header__menu_btn > span,
.header__menu_btn > span::before,
.header__menu_btn > span::after{
  width: 30px;
  height: 4px;
  
  display: block;
  position: absolute;

  background-color: #fff;

  transition: background-color 0.2s linear;
}

.header__menu_btn:hover > span,
.header__menu_btn:hover > span::before,
.header__menu_btn:hover > span::after{
  background-color: #b88b58;
}

.header__menu_btn > span:before{
  content: "";
  top: -8px;

  transition: all 0.3s linear;
}

.header__menu_btn > span::after{
  content: "";
  top: 8px;
}

#header__menu_toggle:checked ~ .header__menu_btn > span{
  transform: rotate(45deg);
}

#header__menu_toggle:checked ~ .header__menu_btn > span::before{
  top: 0;
  transform: rotate(0);
}

#header__menu_toggle:checked ~ .header__menu_btn > span::after{
  top: 0;
  transform: rotate(90deg);
}

/* intro */

.intro{
  width: 100%;
  
  background: url("../img/intro/intro_bg.png") no-repeat center center fixed;
  background-size: cover;

  color: #fff;
}

.intro__inner{
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  min-width: 0;
}

/* slider */

.intro .slick-dots{
  margin: 4.8% 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro .slick-dots li{
  margin: 0 10px;
  

  list-style: none;
  align-self: center;
}

.intro .slick-dots li.slick-active button{
  background-color: #b88b58;
}

.intro .slick-dots button{
  width: 10px;
  height: 15px;

  font-size: 0;

  background-color: transparent;
  border: 2px solid #b88b58;
  border-radius: 50%;
}

.intro__title_item, .intro__calc_us_item{
  width: 100%;
  
  text-transform: uppercase;
  text-align: center;

  font-weight: normal;
  font-size: 30pt;
}

.intro__title_item{
  margin-top: 10%;

  font-weight: 700;
  font-size: 60pt;
}

.intro__title_item span{
  color: #b88b58;
}

.intro__calc_us_item{
 margin-top: 2.5%;
}

.intro__button_item{
  display: flex;
  justify-content: center;
}

.intro__button_item_a{
  margin: 7.5% 0;
}

.intro__button{
  width: 15vw;
  height: 4vw;

  text-transform: uppercase;
  font-size: 1.5vw;
  
  border: none;
  border-radius: 99em;

  background: #b88b58;
  color: #fff;

  cursor: pointer;
  transition: background 0.2s linear;
}

.intro__button:hover, .intro__button:focus{
  background: #000;
}

/* about */

.about{
  background: #f7f7f7;
}

.about__inner{
  width: 100%;

  margin-bottom: 5%;
}

.about__title_item{
  width: 100%;

  margin: 5% 0;

  text-align: center;
  text-transform: uppercase;
}

.about__title_h2{
  font-weight: 700;
  font-size: 30pt;
}

.about__title_h3{
  margin: 1.5% 0;

  font-weight: 600;
  font-size: 14pt;

  color: #aeaeae;
}

.about__inner{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__video_item{
  width: 100%;

  margin-right: 5%;

  align-self: start;
}

.about__video_item video{
  width: 600px;

  cursor: pointer;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.about__video_item video::-webkit-media-controls {
  display: none;
}

.about__video_item:hover video::-webkit-media-controls {
  display: flex;
}

.about__text_item{
  margin: 0 2.5%;

  font-weight: normal;
  text-align: justify;
}

.about__button_item{
  margin: 10% 0;
}

.about__button{
  width: 200px;
  height: 40px;

  font-weight: 700;
  font-size: 12pt;
  text-transform: uppercase;

  border-radius: 99em;
  border: 0;

  cursor: pointer;

  color: #fff;
  background: #b88b58;
}

/* services */

.services{
  width: 100%;

  color: #fff;
  background: #000;
}

.services__title_item{
  margin: 5% 0;

  text-transform: uppercase;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services__title_h2{
  width: 100%;
  margin-top: 7.5%;

  font-size: 30pt;
  font-weight: 700;
}

.services__title_h3{
  width: 100%;
  margin-top: 1%;

  font-size: 14pt;
  font-weight: 600;

  color: #575757;
}

.services__inner{
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__item{
  width: 190px;
  margin: 7.5% 0;

  display: flex;
  flex-wrap: wrap;
  justify-self: center;

  align-self: baseline;
  text-align: center;
}

.services__item_img{
  width: 100%;
  
  margin-bottom: 10%;
}

.services__item_title{
  margin-bottom: 5%;
  text-transform: uppercase;

  /* text-alig; */
  
  font-size: 18pt;
  font-weight: 600;
}

.services__item_text span{
  font-size: 12pt;
  font-weight: 400;

  color: #5a5a5a;
}

@media screen and (max-width: 1200px){
  .intro__title_item{
    font-size: 6.567vw;
  }
  .intro__calc_us_item{
    font-size: 3.28vw;
  }
}

/* media small */

@media screen and (max-width: 1050px) {

  /* header */

  .header__hamburger_menu{
    display: inline;
  }

  .header__nav{
    width: 250px;
    margin: 0;

    right: 0;
    top: -1500px;

    display: flex;
    flex-direction: column;
    position: absolute;

    background: rgba(0, 0, 0, 0.9);

    transition: top 0.2s linear;
  }

  .header__nav.active{
    top: 56px;  
  }

  .header__nav_item a{
    margin-bottom: 15px;
    padding: 12px 24px;

    display: block;
    color: #fff;
  }

  /* about */

  .about__inner{
    flex-direction: column-reverse;
    
    justify-content: baseline;
  }
  
  .about__video_item video{
    margin: 0 5%;
    width: 90%;
  }

  .about__text_item{
    margin: 5% 5%;
  }

  .about__button_item{
    text-align: center;
  }

  .about__button{
    margin: 0;
    height: 60px;
  }

}

/* media mobile */

@media screen and (max-width: 768px) {

  /* header */

  .intro__button{
    width: 150px;
    height: 30px;

    font-size: 13pt;
  }

  /* about */

  .about__inner{
    flex-direction: column;
  }

  .about__video_item{
    margin-bottom: 5%;
  }

}
